

html, body{
    height: 100%;
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
}

.navbar-brand img{
    height: 80px;
    width: 120px;
    padding-left: 10px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    float: right;
    color: #2c4d9e;
}

.navbar-nav li a:hover{
    color: #cfcfcf!important;
}

.navbar{
    background: #000;
}
.navbar-toggler{
    color: #fff;
    border: none!important;
}

.navbar-toggler-icon{
    background-color: #fff;
}

.nav-link{
    color: #2c4d9e!important;
    font-weight: 200;
    font-size: 15px;
}

#slider{
    width: 100%;
}

.carousel-caption{
    color: #2c4d9e!important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.carousel-inner img{
    width: 100%;   
}

.carousel-caption h1{
    font-size: 100px;
}

.carousel-caption h3{
    font-size: 50px;
}